body {
    background-color: rgb(245, 245, 245);
    height: 1000px;
    margin: 0;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 30px;
}

p {
    font-family: Roboto, arial;
    margin: 0;
}