.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 57px;
    justify-content: space-between;
}

.left-section {
    background-color: lightblue;
    width: 170px;
}

.middle-section {
    background-color: lightgreen;
    flex: 1;
    margin-left: 60px;
    margin-right: 20px;
    max-width: 600px;
    
}

.search-box {
    padding: 10px;
}

.right-section {
    background-color: lightcoral;
    width: 200px;
}
