.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 57px;
    justify-content: space-between;
}

.left-section {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
}

.youtube-logo {
    height: 20px;
    margin-left: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 60px;
    margin-right: 20px;
    max-width: 600px;
    display: flex;
    align-items: center;
}

.search-box {
    font-family: Roboto, Arial;
    font-size: 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-width: 1px;
    flex: 1;
    height: 36px;
    padding-left: 10px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
    /* Helps flexbox calculate space correctly */
}

.search-icon {
    height: 28px;
    width: 64px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    margin-left: -1px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.voice-search-icon {
    height: 28px;
    width: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
    margin-left: 10px;
}

.right-section {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upload-icon {
    height: 30px;
}

.youtube-apps-icon {
    height: 30px;
}

.notifications-icon {
    height: 30px;
}

.avatar-icon {
    height: 30px;
    border-radius: 50%;
}

.avatar-icon:hover {
    cursor: pointer;
}

.right-section-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.right-section-icon {
    height: 24px;
}

.icon-description {
    position: absolute;
    bottom: -30px;
    /* Moves it below the icon */
    background-color: rgba(90, 90, 90, 0.9);
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    font-family: Roboto, Arial;

    /* Centering Trick */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    /* Prevents text from wrapping */

    /* Hiding it by default */
    opacity: 0;
    /* Mouse ignores it when hidden */
    transition: opacity 0.s;
}

.right-section-item:hover .icon-description {
    opacity: 1;
}