.sidebar {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 76px;
    top: 57px;
    bottom: 0;
    left: 0;
    row-gap: 15px;
    padding-top: 10px;
}

.sidebar-item {
    color: rgb(110, 110, 110);
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.15s;
    
}

.sidebar-item:hover {
    background-color: rgb(245, 245, 245);
}

.sidebar-icon {
    height: 30px;
}