.video-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 30px;
}

@media (min-width: 600px) {
    .video-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .video-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.video-preview {
    border-radius: 10px;
    overflow: hidden;
    transition: background-color 0.15s;
    padding: 10px;
}

.video-preview:hover {
    background-color: rgb(199, 199, 199);
    cursor: pointer;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-cover {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.video-duration {
    position: absolute;
    bottom: 8px;
    right: 5px;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 2px;
    font-size: 12px;
    font-family: Roboto, Arial;
    font-weight: 500;
}

.video-info {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-top: 10px;
}

.channel-profile {
    width: 80%;
    border-radius: 25px;
}

.video-text {
    margin-left: 10px;
}

.video-title {
    font-weight: 700;
    font-size: 13px;
}

.channel-name {
    margin-top: 10px;
    font-size: 11px;
    color: rgb(136, 136, 136);
}

.video-stats {
    margin-top: 4px;
    font-size: 11px;
    color: rgb(136, 136, 136);
}